<div>
  <h1>Agregar Libro</h1>
  <form> Nuevo Libro:
      <br>
      <label for = "txtNombre">Nombre: </label>
      <input type="text" name = "nombre" id ="txtNombre" [(ngModel)] = "libro.nombre">
      <br>
      <label for = "txtISBN">ISBN: </label>
      <input type="text" name = "ISBN" id ="txtISBN" [(ngModel)] = "libro.isbn">
      <br>
      <label for = "txtAutores">Autores: </label>
      <input type="text" name = "ISBN" id ="txtAutores" [(ngModel)] = "libro.autores">
      <br>
      <button (click)="agregarLibro()">Agregar</button>
  </form>
  <br>						
  <button [routerLink]="['/biblioteca/libro-list']" routerLinkActive="router-link-active" >Volver</button>
</div>